@import "src/assets/styles/colours";

body {
  line-height: 1.15;
  background: $off-white;
}
.drop-shadow {
  background: $white !important;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
}
.ui.container {
  margin-bottom: 2%;
}
.ui.segment {
  font-size: 2em;
}
.ui.button.icon {
  font-size: 2em;
  i {
    color: $light-grey;
  }
}
.ui.button {
  font-size: 1em;
  background: none;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
#home,
#categories {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #272822;
  margin-top: 1em;
  font-size: 1em;
}
.ui.form {
  .field {
    > label {
      font-size: 2em;
      margin-bottom: 1em;
    }
    > input, select {
      font-size: 2em;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    > input.errorField {
      border: 1px solid $warning;
    }
  }
  input[type="text"].vdatetime-input {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
.ui.button.createBtn {
  font-size: 2em;
  margin-bottom: 1em;
}
.ui.button.cancelBtn {
  font-size: 2em;
}
.ui.button.closeBtn {
  font-size: 2em;
}
.header {
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: initial;
  margin-bottom: 1em;
}
.meta {
  margin-bottom: 1em;
}
.icons {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  i {
    color: $light-grey;
  }
}
.date, .category {
  font-size: 0.65em;
}
input[disabled] {
  border: none;
  text-align: center;
  background: none;
}
