.container {
  margin-bottom: 2%;
}
.ui.segment,
.ui.button.icon {
  font-size: 2em;
}
.ui.button {
  font-size: 1em;
}
#home, #categories {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #272822;
  margin-top: 60px;
  font-size: 1em;
}
.ui.form {
  input[type="text"].vdatetime-input {
    margin-bottom: 1em;
  }
  .field > input.errorField {
    border: 1px solid #db2828;
  }
  .field > input, input[type="text"].vdatetime-input {
    font-size: 1.5em;
  }
  .field > label, .field > input {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
.ui.button.createBtn,
.ui.button.cancelBtn,
.ui.button.closeBtn {
  font-size: 2em;
}
.header {
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: initial;
}
.header,
.meta,
.ui.button.createBtn,
.icons {
  margin-bottom: 1em;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.ui.button {
  background: none;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
.date {
  font-size: 0.65em;
}
input[disabled] {
  border: none;
  text-align: center;
  background: none;
}
